<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://shownotes.opensourceisawesome.com/mistborn-a-wireguard-server-gui/">Mistborn</a></strong>
			- Mistborn is the project of a man who wanted to provide a more secure browsing and online experience for himself and his family.  Mistborn is not just a WireGuard server UI, but a host of open source, self hosted applications that you can run in connection with the WireGuard network it sets up. I implemeted it using the blog post in th elink.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Weather Station</a></strong>
			- Implementation of Weather Station including online tracking, dashboard.
		</h5>

    </div>
  </div>
</div>
</section>
